<!-- details.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <script src="https://kit.fontawesome.com/80b2adc98c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/details.css" />
</head>
<body>

    <header>
        <div class="logo">
            <p>Temybams Library</p>
        </div>
        <nav>
            <ul>
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/users/books">My Books</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="book-details">
                <div class="book">
                    <div class="book__image">
                        <img src="<%= book.Image %>" alt="<%= book.Title %>" class="card__picture-img" />
                    </div>
                    <div class="book__info">
                        <h2 class="book__title"><%= book.Title %></h2>
                        <p class="book__published">Published: <%= book.datePublished.toDateString() %></p>
                        <p class="book__summary">Summary: <%= book.Summary %></p>
                        <p class="book__genre">Genre: <%= book.Genre %></p>
                        <p class="book__page-count">Page Count: <%= book.pageCount %></p>
                        <p class="book__publisher">Publisher: <%= book.Publisher %></p>
                        <div class="book__actions">
                            <a href="/books/update/<%= book._id %>" class="btn btn--green">Update Book</a>
                            <a href="/books/delete/<%= book._id %>" class="btn btn--red">Delete Book</a>
                        </div>
                    </div>
                </div>
        </div>
    </main>

    <footer class="footer">
        <!-- Footer content here -->
    </footer>

</body>
</html>
